.blog {
  margin-bottom: 250px;
}

.blog__title__title {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  margin-bottom: 65px;
  margin-top: 250px;
  animation: appearImage 1s ease-in-out;
}

.blog__title__subtitle {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 65px;
  animation: appearImage 2s ease-in-out;
}

.blog__images__text > h5,
.blog__images__text > h6 {
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
}

.blog__images {
  display: flex;
  justify-content: center;
  animation: appearImage 3s ease-in-out;
}

@keyframes appearImage {
  0% {
    transform: none;
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    transform: none;
  }
}

.blog__images--first,
.blog__images--second,
.blog__images--third {
  display: flex;
  flex-direction: column;
}

.blog__images--second {
  margin: 0px 30px;
}

.blog__images__text {
  padding-top: 35px;
  padding-left: 20px;
  box-sizing: border-box;
}

.blog__images__text > h3 {
  font-weight: var(--title-weight);
  font-size: 15px;
  margin-bottom: 30px;
  padding-left: 5px;
}

.blog__images__text > h6 {
  padding-left: 10px;
}
