body {
  position: relative;
}

.footer {
  left: 0;
  bottom: 0;
  width: 1900px;
  height: 180px;
  background-color: black;
  color: white;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 370px;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo > img {
  width: 90px;
  height: 52px;
}

.footer__logo > span {
  font-size: 11px;
  margin-left: 30px;
}

.footer__btn {
  font-size: 12px;
}
