header {
  display: flex;
  justify-content: space-between;
}

.header__text {
  margin-top: 70px;
  margin-bottom: 80px;
}

.header__text__title {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  line-height: 70px;
}

@keyframes appearWords {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
    color: blueviolet;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}

#header__text--fir {
  animation: appearWords 2s ease-in-out;
}

#header__text--sec {
  animation: appearWords 3s ease-in-out;
}

#header__text--thi {
  animation: appearWords 4.5s ease-in-out;
}

.header__text__subtitle {
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 45px;
}

.header__text > button {
  font-weight: 700;
  width: 180px;
  height: 50px;
  border: none;
  background-color: var(--yellow);
  transition: all 0.5s ease-in-out;
}

.header__text > button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@keyframes appearImage {
  0% {
    transform: none;
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    transform: none;
  }
}

.header__image {
  animation: appearImage 4.5s ease-in;
}
