.navBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

@keyframes rotateLogo {
  0% {
    transform: none;
  }
  100% {
    transform: rotateY(360deg);
  }
}

.navBar__logo {
  width: 80px;
  height: 55px;
}

.navBar__logo:hover {
  cursor: pointer;
  animation: rotateLogo 1.5s linear infinite;
}

.navBar__menu > span {
  margin-left: 80px;
  font-size: 13px;
}

.navBar__menu > span:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
