.portfolio {
  margin-top: 125px;
}

.portfolio__title {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}

.portfolio__menu {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.portfolio__menu__division > span {
  margin-left: 10px;
  padding: 5px 15px;
  transition: background-color 0.5s ease-in-out;
}

.portfolio__menu__division > span:nth-child(1) {
  margin-left: 0;
}

.portfolio__menu__division > span:hover {
  background-color: var(--yellow);
  cursor: pointer;
}

.portfolio__images {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.portfolio__images--first,
.portfolio__images--second,
.portfolio__images--third {
  display: flex;
  flex-direction: column;
}

.portfolio__images--first,
.portfolio__images--third {
  animation: appearImage 1.5s ease-in-out;
}

.portfolio__images--second {
  margin: 0px 30px;
  animation: appearImage 3s ease-in-out;
}

@keyframes appearImage {
  0% {
    transform: none;
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    transform: none;
  }
}

.portfolio__button {
  margin: 65px 0px 250px 0px;
  display: flex;
  justify-content: center;
}

.portfolio__button > button {
  width: 200px;
  height: 50px;
  border: none;
  font-weight: 700;
  background-color: var(--yellow);
  transition: all 0.5s ease-in-out;
}

.portfolio__button > button:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.portfolio__menu__see:hover {
  cursor: pointer;
}
