@import 'reset.css';
@import 'img.css';
@import 'nav.css';
@import 'header.css';
@import 'portfolio.css';
@import 'about.css';
@import 'blog.css';
@import 'contact.css';
@import 'footer.css';

@import 'mediaquery/bigscreen.css';
@import 'mediaquery/middlescreen.css';
@import 'mediaquery/smallscreen.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

body {
  width: 100vw;
  height: 5500px;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}
