@import 'reset.css';
@import 'img.css';
@import 'nav.css';
@import 'header.css';
@import 'portfolio.css';
@import 'about.css';
@import 'blog.css';
@import 'contact.css';
@import 'footer.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

body {
  width: 1900px;
  height: 5500px;
  padding: 30px 370px 0px 370px;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}
